h1, h2, h3, h4 {
	margin: 0 0 10px 0;
}

header h1 a {
	font-family: Impact;
	color: #000;
	font-size: 45px;
	letter-spacing: 2px;
}

header h1 a:hover,
header h1 a:active {
	text-decoration: none;
}

.container {
	padding: 15px 0;
}

.category {
	border: solid #999 1px;
	border-width: 0 1px;
	margin-left: -1px;
	padding-top: 15px;
}

.category:first-child {
	border-left: none;
}

.category:last-child {
	border-right: none;
}

.search-lessons {
	margin-top: 30px;
}

.lesson-list .lesson {
	padding: 15px;
	box-shadow: 0 5px 8px #AAA;
	margin: 15px 0;
	overflow: hidden;
}

.tag-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.tag-list .tag {
	float: left;
	background-color: #00F;
	padding: 5px 8px;
	margin-right: 10px;
	cursor: pointer;
}

.tag-nav {
	margin-top: 30px;
}

.nav-list {
	border: solid 1px #DDD;
	border-width: 1px 1px 0 1px;
}

.nav-list li {
	border-bottom: solid 1px #DDD;
}

.nav-list > li + li {
	margin-top: 0;
}

.lesson-header {
	clear: both;
	overflow: hidden;
}

.lesson-header h1 {
	float: left;
}

.lesson-header .tag-list {
	float: left;
	margin-top: 6px;
	margin-left: 15px;
}

.lesson-header .breadcrumbs {
	clear: both;
}

.lesson-detail {
	margin-top: 30px;
}

.lesson-detail > md > * {
	margin-left: 15px;
}

.lesson-detail h1,
.lesson-detail h2,
.lesson-detail h3,
.lesson-detail h4 {
	margin-top: 15px;
}

.lesson-detail h1,
.lesson-detail h2 {
	margin-top: 15px;
	margin-left: 0;
}

.lesson-detail h2 {
	background-color: #d9edf7;
	padding: 10px 15px;
	border: solid #000 1px;
	border-width: 0 0 1px 15px;
}